<!DOCTYPE html>
<html>
    <head>
        <title>Capharnaüm</title>
    </head>

    <body>
        <img src="/Favicon.png" width="100px" />

        <button>Article au hazard</button>
        <input type="text" id="search" />
        <button>Search</button>
        <br>
        
        <% for (const text of introduction) { %>
            <p><%= text %></p>
        <% } %>
        
        
    </body>

    <script>
        const introduction = <%- JSON.stringify(introduction) %>;
        const chapters = <%- JSON.stringify(chapters) %>;

        console.log(introduction);
        console.log();
        console.log(chapters);
    </script>
    
</html>