<!DOCTYPE html>
<html>
    <head>
        <title>Capharnaüm</title>
        <script defer src="/scripts/index.js" type="module"></script>
    </head>

    <body>
        <img src="/Favicon.png" width="100px" />
        
        <input type="text" id="url" />
        <button id="urlButton">Rechercher</button>

        <button id="randomButton">Rechercher au hazard</button>
    </body>
</html>