<!DOCTYPE html>
<html>
    <head>
        <title>Capharnaüm</title>
    </head>

    <body>
        <img src="/Favicon.png" width="100px" />

        <button>Article au hazard</button>
        <input type="text" id="search" />
        <button>Search</button>
        <br>
        
        <%- infobox %>
        
        
    </body>


    
</html>