<!DOCTYPE html>
<html>
    <head>
        <title>Capharnaüm</title>
    </head>

    <body>
        <img src="/Favicon.png" width="100px" />
        
        <form action="/" method="POST">
            <input type="text" name="url" />
            <input type="submit" name="urlButton" value="Rechercher" />

            <input type="submit" name="randomButton" value="Rechercher au hazard" />
        </form>

        <% if (locals.article) { %>
            <%- article.infobox %>
        <% } %>
    </body>
</html>